

/* table {
  table-layout: fixed;
  word-wrap: break-word;
} */

.ids-details {
  /* background: #263248; */
  border-radius: 14px;
  border: 2px solid #263248;
}

main {
  min-height: calc(100vh - 177px);
}

@media only screen and (min-width: 768px) {
  .ids-details {
    max-width: 85%;
  }

  .btn-create-question {
    position: absolute;
    right: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .ids-details {
    max-width: 75%;
  }
}

footer, header {
  background-color: #263248;
}

footer p {
  color: #fff;
}