{% extends "base.html" %}

{% block content %}

  <div class="container">
    <h2 class="my-5 text-center">Detalles de la Respuesta</h2>
    <div class="row pt-1 align-items-baseline">
      <div class="col col-md-8">

        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                {{ answer.question.subject }}
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p></p>
                {{ answer.response }}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                Detalles del abogado
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Nombre: <strong>{{ answer.nameLayer }}</strong></p>
                <p>Correo: <strong>{{ answer.emailLayer }}</strong></p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">
                Detalles del cliente
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Nombre: <strong>{{ answer.question.nameClient }}</strong></p>
                <p>Correo: <strong>{{ answer.question.emailClient }}</strong></p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col col-md-4 text-center">
        <span class="bg-success text-white px-3 py-2 rounded-pill fw-semibold fs-5 ">Estado: {{ answer.question.status }}</span>
        <div class=" py-4 px-3 mt-5 mx-lg-auto ids-details">
          <div class="row mx-0">
            <div class="col col-lg-6">
              <strong>ID Respuesta: <span class="text-primary fs-5">#{{ answer.id }}</span></strong>
            </div>
            <div class="col col-lg-6">
              <strong>#ID Consulta: <span class="text-primary fs-5">#{{ answer.question.id }}</span></strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}