{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="py-4">
      <h2 class="mb-4">Formulario de Respuestas</h2>

      <h3 class="pt-2 pb-4 ">{{ question.subject }}</h3>

      <form action="" method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="nameLayer" class="form-label">Nombre Abogado</label>
          {{ form.nameLayer }}
        </div>
        <div class="mb-3">
          <label for="nameLayer" class="form-label">Email Abogado</label>
          {{ form.emailLayer }}
        </div>
        <div class="mb-3">
          <label for="nameLayer" class="form-label">Escriba aquí su respuesta al cliente</label>
          {{ form.response}}
        </div>
        <div>
          <button type="submit" class="btn btn-primary btn-pill text-white">Responder</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}