{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <h1 class="my-4 text-center">Home Admin</h1>

    <div class="row pt-2">
      <div class="col col-md-4">
        <div class="px-3 py-2 text-center">
          <h5>Consultas Totales</h5>
          <h6>{{ totalQ }}</h6>
        </div>
      </div>
      <div class="col col-md-4">
        <div class="px-3 py-2 text-center">
          <h5>Consultas Respondidas</h5>
          <h6>{{ totalR }}</h6>
        </div>
      </div>
      <div class="col col-md-4">
        <div class="px-3 py-2 text-center">
          <h5>Consultas Pendientes</h5>
          <h6>{{ totalP }}</h6>
        </div>
      </div>
    </div>

    <h2 class="text-center my-4">Lista de Respuestas</h2>

    <div class="table-responsive">
      <table class="table table-striped table-answer align-middle">
        <thead>
          <tr>
            <th class="text-center" scope="col col-md-1" style="width: 135px;">#código consulta</th>
            <th scope="col col-md-4">Nombre Cliente</th>
            <th scope="col col-md-4">Pregunta</th>
            <th scope="col col-md-1">Status</th>
            <th scope="col col-md-1">Acción</th>
          </tr>
        </thead>
        <tbody>
          {% for q in questions %}
          <tr>
            <th class="text-center" scope="row">{{ q.id }}</th>
            <td>{{ q.nameClient }}</td>
            <td>{{ q.subject }}</td>
            <td>{{ q.status }}</td>
            <td><a href="{% url 'delete_question' q.id  %}" class="btn btn-danger">Eliminar</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <h2 class="text-center my-4">Lista de Usuarios</h2>

    <div class="table-responsive">
      <table class="table table-striped table-answer align-middle">
        <thead>
          <tr>
            <th class="text-center" scope="col col-md-1" style="width: 135px;">#código Usuario</th>
            <th scope="col col-md-4">Nombre Usuario</th>
            <th scope="col col-md-4">Email Usuario</th>
            <th scope="col col-md-1">Acción</th>
          </tr>
        </thead>
        <tbody>
          {% for u in users %}
          <tr>
            <th class="text-center" scope="row">{{ u.id }}</th>
            <td>{{ u.username }}</td>
            <td>{{ u.email }}</td>
            <td><a href="{% url 'delete_user' u.id  %}" class="btn btn-danger">Eliminar</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
  
{% endblock %}
  