{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <h1 class="mt-4 text-center">Home Cliente</h1>
  <div class="position-relative text-center d-md-flex align-items-center justify-content-center my-4">
    <h2 class="text-center">Consultas</h2>
    <button type="button" class="btn btn-primary btn-create-question mt-2 mt-md-0" data-bs-toggle="modal" data-bs-target="#createQuestion">
      Enviar una Consulta
    </button>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-answer align-middle">
      <thead>
        <tr>
          <th class="text-center" scope="col col-md-1" style="width: 135px;">#código consulta</th>
          <th scope="col col-md-4">Nombre</th>
          <th scope="col col-md-4">Pregunta</th>
          <th scope="col col-md-1">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for q in questions %}
        <tr>
          <th class="text-center" scope="row">{{ q.id }}</th>
          <td>{{ q.nameClient }}</td>
          <td>{{ q.subject }}</td>
          <td>{{ q.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- <h2>Respuestas</h2>
  <p>ID questions {{ first.question_id }}</p>
  <p>ID answers {{ first.id }}</p>
  <p>Nombre cliente <strong>{{ first.question.nameClient }}</strong></p>
  <p>Nombre Abogado <strong>{{ first.nameLayer }}</strong></p>
  <p>Pregunta <strong>{{ first.question.subject }}</strong></p>
  <p>Respuesta <strong>{{ first.response }}</strong></p> -->
  <div class="py-4">
    <h2 class="text-center mb-4">Respuestas</h2>
    <div class="table-responsive">
      <table class="table table-striped table-answer align-middle">
        <thead>
          <tr>
            <th scope="col col-md-1" >#código</th>
            <th scope="col col-md-1" >#código pregunta</th>
            <th scope="col col-md-4">Pregunta</th>
            <th scope="col col-md-4">Respuesta</th>
            <th scope="col col-md-1" >Status</th>
            <th scope="col col-md-1" class="text-center" style="width: 155px;">Acción</th>
          </tr>
        </thead>
        <tbody>
          {% for a in answers %}
          <tr>
            <th scope="row">{{ a.id }}</th>
            <th scope="row">{{ a.question_id }}</th>
            <td>{{ a.question.subject }}</td>
            <td>{{ a.response }}</td>
            <td>{{ a.question.status }}</td>
            <td class="text-center"><a role="button" href="{% url 'answer_detail' a.id %}" class="btn btn-primary">Ver Detalle</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <!-- <form action="" method="POST" class="pt-4">
    {% csrf_token %}
    <div class="mb-3">
      <label for="nameClient" class="form-label">Nombre</label>
      {{ form.nameClient }}
    </div>
    <div class="mb-3">
      <label for="emailClient" class="form-label">Email</label>
      {{ form.emailClient }}
    </div>
    <div class="mb-3">
      <label for="subject" class="form-label">Asunto</label>
      {{ form.subject }}
    </div>
    <div class="mb-3">
      <label for="subject" class="form-label">Status</label>
      {{ form.status }}
    </div>

    <button type="submit" class="btn btn-primary btn-pill text-white">Enviar</button>
  </form> -->

</div>

<div class="modal fade" id="createQuestion" tabindex="-1" aria-labelledby="createQuestionLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createQuestionLabel">Realiza tu consulta</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" method="POST" class="pt-4">
        {% csrf_token %}
        <div class="modal-body">
            <div class="row">
              <div class="col col-md-6 mb-3">
                <label for="nameClient" class="form-label">Nombre</label>
                {{ form.nameClient }}
              </div>
              <div class="col col-md-6 mb-3">
                <label for="emailClient" class="form-label">Email</label>
                {{ form.emailClient }}
              </div>
              <div class="col-12 mb-3">
                <label for="subject" class="form-label">Asunto</label>
                {{ form.subject }}
              </div>
              <div class="col-12 mb-3">
                <label for="subject" class="form-label">Status</label>
                {{ form.status }}
              </div>

            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}