{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <h1 class="mt-4 text-center">Home Layer</h1>

  <div class="py-4">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col col-md-1">#código</th>
            <th scope="col col-md-2">Nombre Cliente</th>
            <th scope="col col-md-2">Correo Cliente</th>
            <th scope="col col-md-5">Pregunta</th>
            <th scope="col col-md-2">Status</th>
            <th scope="col col-md-2">Acción</th>
          </tr>
        </thead>
        <tbody>
          {% for q in question %}
            <tr>
              <th scope="row">{{ q.id }}</th>
              <td>{{ q.nameClient }}</td>
              <td>{{ q.emailClient }}</td>
              <td>{{ q.subject }}</td>
              <td>{{ q.status }}</td>
              <td><a href="{% url 'answer_layer' q.id %}">Responder</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>

{% endblock %}