{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="">
  <div class="container-fluid px-0">
    <figure><img src="{% static 'img/hero-home.jpg' %}" alt="" class="img-fluid"></figure>
  </div>
  <div class="container mt-3">
    <h2 class="text-center">Bienvenidos a Buró Abogados</h2>

    <p class="text-center py-3">Los mejores profesionales a tu dispocisión</p>
  </div>
</section>

{% endblock %}