{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <h1 class="mt-4 text-center">Login</h1>

    <div class="row pt-4 justify-content-center">
      <div class="col col-md-8 col-lg-4">
        <form method="post">

          {% csrf_token %}
          <div class="form-group mb-2">
            <label for="username" class="mb-1">Username</label>
            {{ form.username }}
          </div>
          <div class="form-group last mb-4">
            <label for="username" class="mb-1">Password</label>
            {{ form.password }}
          </div>
          <div class="text-center">
            <input type="submit" value="Ingresar" class="btn btn-pill text-white btn-block btn-primary">
          </div>
        </form>
        {% if msg %}
        <div class="mt-4">
          <span class="py-2 px-3 bg-warning text-black rounded">{{ msg }}</span>
        </div>
        
        {% endif %}
      </div>

    </div>

  </div>

{% endblock %}