{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <h1 class="mt-4 text-center">Registro</h1>

    <div class="row pt-4 justify-content-center">
      <div class="col col-md-8 col-lg-5">
        <form method="post">
    
          {% csrf_token %}
          <div class="form-group mb-2">
            <label for="username">Username</label>
            {{ form.username }}
          </div>
          <div class="form-group mb-2">
            <label for="email">Email</label>
            {{ form.email}}
          </div>
          <div class="form-group mb-2">
            <label for="username">Password</label>
            {{ form.password1 }}
          </div>
          <div class="form-group mb-2">
            <label for="username">Confirm Password</label>
            {{ form.password2 }}
          </div>
          <div class="d-flex mb-3 align-items-center">
            <label class="control control--checkbox mb-2">Admin
              {{ form.is_admin }}
              <div class="control__indicator"></div>
            </label>
          </div>
          <div class="d-flex mb-3 align-items-center">
            <label class="control control--checkbox mb-2">Cliente
              {{ form.is_client }}
              <div class="control__indicator"></div>
            </label>
          </div>
          <div class="d-flex mb-3 align-items-center">
            <label class="control control--checkbox mb-2">Abogado
              {{ form.is_layer }}
              <div class="control__indicator"></div>
            </label>
          </div>
          
          <span class="text-error">{{ form.errors }}</span>
          <input type="submit" value="Registrar" class="btn btn-pill text-white btn-block btn-primary">
        </form>
      </div>
    
    </div>

  </div>

{% endblock %}